<div class="login-inner">

    <div class="login-logo">
        <img src="adaptbuilder/css/assets/adapt-learning-logo-white.png"/>
    </div>

    {{#if isAuthenticated}}
    <h3 class="login-already-logged-in">{{t 'app.alreadyloggedin'}}<a id="linkDash" href="/#dashboard">{{t 'app.dashboard'}}</a></h3>
    {{else}}
    <form class="login-form">

        <div class="login-new-user col-1-2">

            <div class="login-new-user-inner">
                  <h2 class="welcome-blurb">{{t 'app.welcomeblurb'}}.</h2>

                  <div class="login-sign-up">
                  {{#each otherLoginLinks}}
                    <div class="login-other-type">{{{html}}}</div>
                  {{/each}}
                  </div>
            </div>

            <div class="login-forgot-password">
                <a class="btn white-hollow" href="#user/forgot">{{t 'app.forgotpassword'}}</a>
            </div>
    </form>

    {{/if}}

</div>
