<div class="publishOptions">
  <form class="downloadCourse forms" action="importsourcecheck" method="post" autocomplete="off">
  <div class="inner publish-summary" id="summary-list">
      <div class="title green">{{t 'app.publishSettings'}}</div>
      <div class="description">{{t 'app.publishSettingsDesc'}}</div>
      <div class="col-row tb-row publish-summary-none">
        <div class="col-100">{{t 'app.noplugintypes'}}</div>
      </div>
  </div>
  <div class="inner publish-options" id="options-list">
    <div class="title amber">{{t 'app.publishOptions'}}</div>
    <div class="description">{{t 'app.publishOptionsDesc'}}</div>
    <div class="col-row tb-row publish-options-none">
      <div class="col-100">{{t 'app.noplugintypes'}}</div>
    </div>
  </div>
  <input type="hidden" name="trackingPluginJson" id="trackingPluginJson" />
  </form>
</div>
