<div class="inner">
  <div class="login-strapline">
    <div class="login-logo">
        <a href="http://www.delta-net.co.uk/" target="_blank"><img src="css/assets/deltanet-logo.png"/ alt="DeltaNet"></a>
    </div>
    <div class="login-strapline-head"><img src="css/assets/strapline-head.png"/ alt="Author multi-device eLearning anywhere"></div>
    <div class="login-strapline-body">Adapt Builder lets you create responsive, HTML5 eLearning content with the
      Adapt Framework and deploy to mobiles, tablets and PCs from right here in your browser.
    </div>
  </div>

  <div class="reset-inner">
    <div class="login-title">{{t 'app.resetpassword'}}</div>

    <div class="reset-introduction">
      {{t 'app.passwordtip'}}
    </div>

    <div class="message">
      <div class="success display-none">
        <p>{{t 'app.resetpasswordsuccess'}}</p>
        <button class="return btn small secondary">{{t 'app.returnto'}} {{t 'app.login'}}</button>
      </div>
    </div>

    <form class="form-reset-password forms">
      <div class="login-fields">
          <div id="loginError" class="resetError display-none">
            <i class="fa fa-times"></i><span id="loginErrorMessage" class="message"/>
          </div>
          <input type="password" class="login-input-password" id="password" value="" placeholder="{{t 'app.newpassword'}}" autocomplete="off">
          <div id="passwordStrength"></div>
          <input type="password" class="login-input-password" id="confirmPassword" value="" placeholder="{{t 'app.confirmpassword'}}" autocomplete="off">
          <button type="submit" class="btn resetPasswordButton">{{t 'app.changepassword'}}</button>
          <button class="cancel btn white-hollow">{{t 'app.cancel'}}</button>
      </div>
    </form>
  </div>
</div>
